@model Dto.UserRegisterModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form id="UserRegistrationForm" action="@Url.Action("RegistrationSubmint", "Registration")" method="post">
    <div class="container formInputWrapper">
        <div class="form-group">
            <label for="EmailInput">@Resources.RegistrationPageResources.label_Email</label>
            <div>
                <input id="EmailInput" type="email" name="Email" placeholder="@Resources.RegistrationPageResources.placeholder_Email" class="form-control" value="@Model.Email"/>
            </div>
            <div class="alert-danger errorMesasge">
                @Model.EmailErrorMessage
            </div>
        </div>


        <div class="form-group">
            <label for="UsernameInput">@Resources.RegistrationPageResources.label_Username</label>
            <div>
                <input id="UsernameInput" type="text" name="Username" placeholder="@Resources.RegistrationPageResources.placeholder_Username" class="form-control" value="@Model.Username" />
            </div>
            <div class="alert-danger errorMesasge">
                @Model.UsernameErrorMessage
            </div>
        </div>


        <div class="form-group">
            <label for="PasswordInput">@Resources.RegistrationPageResources.label_Password</label>
            <div>
                <input id="PasswordInput" type="password" name="Password" placeholder="@Resources.RegistrationPageResources.placeholder_Password" class="form-control" />
            </div>
            <div class="alert-danger errorMesasge">
                @Model.PasswordErrorMessage
            </div>
        </div>


        <div class="form-group">
            <label for="RePasswordInput">@Resources.RegistrationPageResources.label_RePassword</label>
            <div>
                <input id="RePasswordInput" type="password" name="RepeatedPassword" placeholder="@Resources.RegistrationPageResources.placeholder_RePassword" class="form-control" />
            </div>
            <div class="alert-danger errorMesasge">
                @Model.RePasswordErrorMessage
            </div>
        </div>


        <br />
        <button id="SubmitRegistrationButton" type="submit" class="btn">@Resources.RegistrationPageResources.button_Submit</button>
        <br />
    </div>



</form>