@model Dto.UserRegisterModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form id="UserRegistrationForm" action="@Url.Action("RegistrationSubmint", "Registration")" method="post" class="FormsToValidate">
    <div class="container formInputWrapper">
        <div class="form-group">
            <label for="EmailInput">@Resources.RegistrationPageResources.label_Email<span class="colorRed">@Resources.CommonTextResources.RequiredInputSymbol</span></label>
            <div>
                <input id="EmailInput" type="text" name="Email" placeholder="@Resources.RegistrationPageResources.placeholder_Email" class="form-control valid_req valid_email valid_max_len_128" value="@Model.Email"/>
            </div>
            <div class="alert-danger errorMesasge">
                @Model.EmailErrorMessage
            </div>
        </div>


        <div class="form-group">
            <label for="UsernameInput">@Resources.RegistrationPageResources.label_Username<span class="colorRed">@Resources.CommonTextResources.RequiredInputSymbol</span></label>
            <div>
                <input id="UsernameInput" type="text" name="Username" placeholder="@Resources.RegistrationPageResources.placeholder_Username" class="form-control valid_req valid_min_len_4 valid_max_len_36" value="@Model.Username" />
            </div>
            <div class="alert-danger errorMesasge">
                @Model.UsernameErrorMessage
            </div>
        </div>


        <div class="form-group">
            <label for="PasswordInput">@Resources.RegistrationPageResources.label_Password<span class="colorRed">@Resources.CommonTextResources.RequiredInputSymbol</span></label>
            <div>
                <input id="PasswordInput" type="password" name="Password" placeholder="@Resources.RegistrationPageResources.placeholder_Password" class="form-control valid_req valid_min_len_4 valid_max_len_100" />
            </div>
            <div class="alert-danger errorMesasge">
                @Model.PasswordErrorMessage
            </div>
        </div>


        <div class="form-group">
            <label for="RePasswordInput">@Resources.RegistrationPageResources.label_RePassword<span class="colorRed">@Resources.CommonTextResources.RequiredInputSymbol</span></label>
            <div>
                <input id="RePasswordInput" type="password" name="RepeatedPassword" placeholder="@Resources.RegistrationPageResources.placeholder_RePassword" class="form-control valid_req valid_equal" />
            </div>
            <div class="alert-danger errorMesasge">
                @Model.RePasswordErrorMessage
            </div>
        </div>


        <br />
        <button id="SubmitRegistrationButton" type="submit" class="btn">@Resources.RegistrationPageResources.button_Submit</button>
        <br />
    </div>



</form>