@model Dto.DatabaseRegisterModel
@{
    var model = ViewContext.ViewData.Model as Dto.BaseModel;
    if (!model.IsPartial)
    {
        Layout = "~/Views/Shared/_PageMainLayout.cshtml";
    }
    else
    {
        Layout = null;
    }
}

<div id="page-wrapper">

    <div class="container-fluid">
        <form id="FormHolderAddDatabase" action="@Url.Action("AddDatabase","Home")" method="post">
            <div class="container formInputWrapper">
                <div class="form-group">
                    <label for="ConnectionString">@Resources.MainPageAddDatabaseResources.label_ConString</label>
                    <div>
                        <input id="ConnectionString" name="ConnectionString" placeholder="Connection String" class="form-control" value="@Model.ConnectionString" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="DatabaseName">@Resources.MainPageAddDatabaseResources.label_Databasename</label>
                    <div>
                        <input id="DatabaseName" name="Name" placeholder="Database name" class="form-control" value="@Model.Name"/>
                    </div>
                </div>

                <button id="TestConnectionButtonAddDatabase" type="submit" class="btn btn-default spaceForButton">@Resources.MainPageAddDatabaseResources.button_TestConnection</button>
                <label id="ConnectionSuccess"></label>
                <label id="ConnectionError">@Model.ErrorMessage</label>

                @if (Model.IsHttpGet)
                {
                    <button id="AddDatabaseButton" type="submit" class="btn btn-default spaceForButton disabled" >@Resources.MainPageAddDatabaseResources.button_AddDatabase</button>
                }
                else if (Model.IsConnectionSuccessfull)
                {
                    <button id="AddDatabaseButton" formaction="@Url.Action("RegisterDatabase","Home")" type="submit" class="btn btn-default spaceForButton">Add Database</button>
                }
                else
                {
                    <button id="AddDatabaseButton" type="submit" class="btn btn-default spaceForButton disabled">@Resources.MainPageAddDatabaseResources.button_AddDatabase</button>
                }
            </div>
        </form>

    </div>

</div>