@model Dto.Database
@{
    var model = ViewContext.ViewData.Model as Dto.BaseModel;
    if (!model.IsPartial)
    {
        Layout = "~/Views/Shared/_PageMainLayout.cshtml";
    }
    else
    {
        Layout = null;
    }
}
<div id="page-wrapper">

    <div class="container-fluid">
    @if (Model.Tables.Count() != 0)
    {
        <div class="table-hover">
            <table class="table table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Resources.MainPageViewCurrentDatabaseResources.theading_schema</th>
                        <th>@Resources.MainPageViewCurrentDatabaseResources.theading_name</th>
                        <th>@Resources.MainPageViewCurrentDatabaseResources.theading_collumCount</th>
                        <th>@Resources.MainPageViewCurrentDatabaseResources.theading_rowCount</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Tables)
                {
                    <tr>
                        <td align="center"><a class="fa fa-list-alt" name="@item.Name"></a></td>
                        <td>@item.Schema</td>
                        <td>@item.Name</td>
                        <td>@item.Columns.Count()</td>
                        <td>@item.RowCount</td>
                    </tr>
                }
            </table>

        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    @Resources.MainPageViewCurrentDatabaseResources.NoTablesToShow
                </h1>
            </div>
        </div>
    }
    </div>
</div>




