@model ProjectyMcProjectface.Models.UserLogIn
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login page</title>
    @Styles.Render("~/Content/LoginVisuals")

</head>
<body>
    <form action="@Url.Action("LogInAction", "Login")" method="post">
        <div class="container" id="login-Wrapper">
            <div class="form-group">
                <label for="UserNameInput">Email:</label>
                <div>
                    <input type="text" name="UserName" placeholder="Username" class="form-control" />
                </div>
                <div class="alert-danger">
                    @ViewBag.UsernameIsEmpty
                </div>
            </div>
            <div class="form-group">
                <label for="PasswordInput">Password:</label>
                <div>
                    <input type="password" name="Password" placeholder="Password" class="form-control" />
                </div>
                <div class="alert-danger">
                    @ViewBag.PasswordIsEmpty
                </div>
            </div>
            <div class="alert-danger">
                @ViewBag.IncorrectCredentials
            </div>
            <br />
            <button type="submit" class="btn">Log in</button>
            <button type="button" class="btn" onclick="location.href='@Url.Action("Register","Login")'">Sign up</button>
        </div>
    </form>
    @Scripts.Render("~/bundles/ScriptsForLoginPage")
</body>
</html>
