@model Dto.UserLogInModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form id="UserLogInForm" action="@Url.Action(String.Empty, "Login")" method="post">
    <div class="container formInputWrapper">
        <div class="alert-success succesfullRegistration">
            @Model.RegistrationSuccsesMessage
        </div>

        <div class="form-group">
            <label for="Email">@Resources.LoginPageResources.lebel_email</label>
            <div>
                <input id="Email" type="email"  name="Email" placeholder="@Resources.LoginPageResources.placeholder_email" class="form-control" />
            </div>
            <div class="alert-danger errorMessage">
                @Model.UsernameEmptyFieldError
            </div>
        </div>
        <div class="form-group">
            <label for="PasswordInput">@Resources.LoginPageResources.label_password</label>
            <div>
                <input id="PasswordInput" type="password" name="Password" placeholder="@Resources.LoginPageResources.placeholder_password" class="form-control" />
            </div>
            <div class="alert-danger errorMessage">
                @Model.PasswordEmptyError
            </div>
        </div>
        <div class="alert-danger errorMessage">
            @Model.BadCredentialsError
        </div>
        <br />
        <button id="LoginButton" type="submit" class="btn spaceForButton">@Resources.LoginPageResources.button_text_Login</button>
        <br />
        <button id="GoToRegistrationButton" type="button" class="btn spaceForButton">@Resources.LoginPageResources.button_text_Signup</button>
        <div class="checkbox">
            <label>
                <input name="RememberUser" type="checkbox" value="true" />
                @Resources.LoginPageResources.checkbox_RememberUser
            </label>
        </div>
    </div>
</form>
