@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<form action="@Url.Action("LogInAction", "Login")" method="post">
    <div class="container formInsideWrapper">
        <div class="form-group">
            <label for="EmailInput">@Resources.LoginPageResources.lebel_email</label>
            <div>
                <input type="text" name="Email" placeholder="@Resources.LoginPageResources.placeholder_email" class="form-control" />
            </div>
            <div class="alert-danger errorMesasge">
                @ViewBag.EmalIsEmpty
            </div>
        </div>
        <div class="form-group">
            <label for="PasswordInput">@Resources.LoginPageResources.label_password</label>
            <div>
                <input type="password" name="Password" placeholder="@Resources.LoginPageResources.placeholder_password" class="form-control" />
            </div>
            <div class="alert-danger errorMesasge">
                @ViewBag.PasswordIsEmpty
            </div>
        </div>
        <div class="alert-danger errorMesasge">
            @ViewBag.IncorrectCredentials
        </div>
        <br />
        <button type="submit" class="btn">@Resources.LoginPageResources.button_text_Login</button>
        <br />
        <button type="button" class="btn" onclick="location.href='@Url.Action("RedirectToRegisterPage","Login")';">@Resources.LoginPageResources.button_text_Signup</button>
    </div>
</form>
